Overview of Data Objects in python
1. Numeric Scaler types -> Boolean, Float, Int Long
2. String Scalar types -> String & Unicode
3. Sequence Type -> Tuple(Immutable->can store multiple datatype) & List[Mutable] (Can be referred to as a vector coz you can put any data type inside them)
4. Non-sequence type -> Dictionary[unordered key-value pair] & Set[Dictionary without a key. Values are unique]
5. Nothing types -> None 

N.B -> 5/2 = 2.5 (Floating point division) while 5//2 = 2 (Integer division)

In [1]:
x = "This is Dollar, right"
x.split(",") #splits the strings anywhere the character ',' is found

['This is Dollar', ' right']

In [5]:
print('answer(a), answer(b), \ranswer(c)') # '\r' is used for replacement

answer(c), answer(b),

In [9]:
print("father, Hello\r mother..")

 mother...llo

In [12]:
print("You earn $%d a %s"% (2000, 'year')) # '%d' is replace by 2000 and '%s' is replaced by year

You earn $2000 a year

Understanding date-time object
1. use the built-in Python datetime module -> from datetime import datetime, date, time, timedelta

In [6]:
from datetime import datetime, date, time, timedelta

dtm = datetime(2013, 5, 17, 16, 21, 18) #using datetime type construction method
print("dtm is", dtm)
print(dtm.year, dtm.month, dtm.day, dtm.hour, dtm.minute, dtm.second)

dt = datetime.strptime("20130517@162118", "%Y%m%d@%H%M%S") #convert string to datetime: strptime -> string-parsed-to-datetime
print("dt is", dt)


dtt = dtm.strftime("%m/%d/%Y %H:%M") #read more bout this.... Convert datetime to string
print("dtt is", dtt)

dtm is 2013-05-17 16:21:18
2013 5 17 16 21 18
dt is 2013-05-17 16:21:18
dtt is 05/17/2013 16:21

In [25]:
datetime.today() #or datetime.now()

datetime.datetime(2022, 1, 27, 20, 1, 28, 843540)

In [29]:
d = date(2022, 1, 27)
print(d)

do = datetime.strptime("20210127", "%Y%m%d")
print(do.date())
print(do) #returns zeros for the time

2022-01-27
2021-01-27
2021-01-27 00:00:00

In [8]:
#timedelta
d1 = date(2022, 1, 27)
d2 = date(2022, 1, 31)
print(d2 - d1) #returns a timedelta object

delta = timedelta(hours=72, minutes=0, seconds=0)
olddt = datetime(2022, 1, 27, 8, 21)
newdt = olddt + delta
print(newdt)

4 days, 0:00:00
2022-01-30 08:21:00

In [11]:
#You can generate a tuple as follow:
y = 1,3,5,7,9
type(y)

tuple

In [7]:
#Converting a string object to a Tuple
x = "Dolapo Tobi"
y = tuple(x)
print(y)
#Converting the tuple back to string
z = ''.join(y)
print(z, '\n')
#converting tuple to list
t = (1,2,'ab')
print(type(t), '\n')
outcome = list(t)
print(type(outcome))

('D', 'o', 'l', 'a', 'p', 'o', ' ', 'T', 'o', 'b', 'i')
Dolapo Tobi

<class 'tuple'>

<class 'list'>

For list comprehension -> x = [expression for item in collection <if filter condition>]
x = []
for item in collection:
     if condition:
        x.append(expression)

In [4]:
x = range(1,9)
y = [item**2 for item in x]
print('y is:', y, '\n')
z = [item**2 for item in x if item < 4]
print('z is:', z, '\n')
namelist = ['John', 'Linda', 'John', 'Kent', 'Larry', 'David', 'Marry', 'Larry']
num = [1,3,6,7,8,11]
filter_names = [name for name in namelist if namelist.count(name) < 2]
print(filter_names, '\n')
odd = [n for n in num if n%2 != 0]
print('odd is:', odd)

y is: [1, 4, 9, 16, 25, 36, 49, 64]

z is: [1, 4, 9]

['Linda', 'Kent', 'David', 'Marry']

odd is: [1, 3, 7, 11]

In [17]:
a = ['v{}'.format(i) for i in range(1, 10)]
print(a)

import numpy as np
v = list(np.char.array(['var_']*10).astype('str') + np.char.array(range(1,11)).astype('str')) #it's concatenating 'var_' + '1' -> 'var_1' and so on
print(v)

b = list(zip(v,a))
print(b)

['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9']
['var_1', 'var_2', 'var_3', 'var_4', 'var_5', 'var_6', 'var_7', 'var_8', 'var_9', 'var_10']
[('var_1', 'v1'), ('var_2', 'v2'), ('var_3', 'v3'), ('var_4', 'v4'), ('var_5', 'v5'), ('var_6', 'v6'), ('var_7', 'v7'), ('var_8', 'v8'), ('var_9', 'v9')]

In [38]:
#Reference and Independent object
mylist = list(range(1,9))
mylist1 = mylist # creates a reference mylist1 from mylist --- dependent on each other(if you change one, it affects the other)

mylist2 = mylist[:]  #copy values from mylist to mylist2 --- independent of each other

#Append function
list1, list2 = [1,2,5], [3,4,8,13,15]
list1.append(list2)
outcome = list1
print('Append func:', outcome)

outcome1 = ('original', list2[0:4]) #this is a tuple
print('This is a tuple:', outcome1, '\n')

#Sorting
p = [3,5,2,4,1]
q = list(range(1,6))
r = sorted(p, reverse=True), q
print('Sorting func:', r)
print(sorted(p) == q)
print(r == q, '\n')

#Zipping
name = ['Jane', 'Larry', 'David']
age = [34,56,23]
combine = list(zip(name, age))
print('Zipping func:', combine, '\n')

#Extend function
info = ['John', None, 'Male', 'College']
info.extend(['home', 78, (2,3)])
print('Extend func:', info, '\n')

#inserting
i = ['a', 'b', 'c', 'd']
i.insert(3, ('0', 1, None)) #it inserts the 2nd arg into the 3rd position of the original list 
print('Insert func:', i, '\n')

#Split and Join
record = 'John|Male|25|University'
recordlist = record.split('|') #splits the strings anywhere the character '|' is found
print(recordlist)
recordlist2 = '|'.join(recordlist)
print(recordlist2)

Append func: [1, 2, 5, [3, 4, 8, 13, 15]]
This is a tuple: ('original', [3, 4, 8, 13])

Sorting func: ([5, 4, 3, 2, 1], [1, 2, 3, 4, 5])
True
False

Zipping func: [('Jane', 34), ('Larry', 56), ('David', 23)]

Extend func: ['John', None, 'Male', 'College', 'home', 78, (2, 3)]

Insert func: ['a', 'b', 'c', ('0', 1, None), 'd']

['John', 'Male', '25', 'University']
John|Male|25|University

Dictionary -> Key-Value pairs
1. Keys are unique and immutable
2. Values are mutable and can be mixture types
3. You can create dictionary by using {} or dict() construction function
4. Y.keys() -> returns the keys in the dictionary
5. Y.items() -> returns both the key and the values of the dictionary

Set Objects and operations
1. Set is an unordered collection of unique elements. It can be used on a list and a tuple.
2. Use set() function to generate a set
3. Use myset.add('newitem') to add new item to your set
4. Use myset.discard('olditem') to remove old item from your set

x in s -> test x for membership in s
x not in s -> test x for non-membership in s
s.issubset(t) or s<=t -> test whether every element in s is in t
s.issuperset(t) or s>=t -> test whether every element in t is in s
s.union(t) or s | t -> new sets with elements from both s and t or s.update(t)
s.intersection(t) or s & t -> new set with elements common to s and t or s.intersection_update(t)
s.difference(t) or s - t -> new set with elements in s but not in t
s.symmetric_difference(t) or s ^ t -> new set with elements in either s or t but not both.
s.copy() -> generates a copy of s

Control Flow
1. if..elif..else structure
2. Loop Statement -> For and While loops

In [47]:
balance = 880
if balance < 500:
    print('I have to save up to buy a shoe')
elif balance < 700:
    print("I have to save up")
else:
    print('I am good to go!!!!', '\n')


for color in ['green', 'red', 'yellow', 'blue']:
    print('I use the ' + color + ' color to paint', '\n')


j = 0
for v in range(1,9):
    j+=v
    print(j, '\n')


g = 1
while (g<100):
    g*=2
else:
    print('Final result:' + str(g))

I am good to go!!!!

I use the green color to paint

I use the red color to paint

I use the yellow color to paint

I use the blue color to paint

1

3

6

10

15

21

28

36

Final result:128

User Defined Functions
1. Use the keyword 'def' to create a function
2. Use 'return' to sen a result (or None if no return)
3. Inputs are passsed as arguments

Variable Scope
1. Global scope is used to define the global scope inside a function

In [68]:
name = 'Mary' #Initial global
age = 25 #Global

def identity():
    global name #This automatically changes the variable called name to whatever was declared afterwards. In this case, it's John.
    age = 18 #Local
    name = 'John' #New Global
identity()
print('My name is ' + name + ' and I am ' + str(age))

def print_me(name, age):
    print('My name is ' + name + ' and I am ' + str(age))
    return(name+','+str(age))
x = print_me('Larry', 19)
print(x)

def outfunc(a, b):
    x=a+b #a=5, b=2, x=7
    c=1
    def infunc(p, q): #p=a, q=b
        return (p - q + c) #5-2+1 = 4
    y = infunc(a, b) #a=5, b=2. So therefore, y = 4
    return(x*y) #Final answer would be 7 * 4 = 28
print('The answer is ' + str(outfunc(5, 2)))

def score(myanswer, answer=('a', 'c', 'd', 'a', 'b')):
    score=0
    j=0
    while (j<len(answer)):
        if(answer[j-1] == myanswer[j-1]):
            score+=1
        j+=1
    print('Your score is ' +str(score) +' for the test')
    #return(score)
score(('a', 'a', 'd', 'c', 'b'))

#Lamba function -- single line function
areacircle = lambda r: 3.1416 * r * r
print('The area of a circle with r-5.2 is: ', areacircle(5.2))

My name is John and I am 25
My name is Larry and I am 19
Larry,19
The answer is 28
Your score is 3 for the test
The area of a circle with r-5.2 is:  84.948864

In [69]:
os.getcwd()

'c:\\Users\\dobimuyiwa\\Documents\\Exercise Files\\datacode\\Udemy'