In [16]:
#Importing the necessary libraries
import pandas as pd
import pydotplus
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [2]:
#I am importing the dataset from my computer with the address below
heart = pd.read_excel(r'C:\Users\dobimuyiwa\Documents\Exercise Files\Refresher\heart.xlsx')
print(heart.head())

   sex  cp  fbs  restecg  exang  target
0    1   1    1        0      0       1
1    1   1    0        1      0       1
2    0   1    0        0      0       1
3    1   1    0        1      0       1
4    0   0    0        1      1       1

In [4]:
heart_column = ['sex', 'cp', 'fbs', 'restecg', 'exang']

# I need to differentiate my features from my labels
features = heart.drop('target', axis=1)  #This means everyother column except the 'target' column is a feature
labels = heart['target']   #This means 'target' is a label

print(heart.tail())

     sex  cp  fbs  restecg  exang  target
298    0   0    0        1      1       0
299    1   1    0        1      0       0
300    1   0    1        1      0       0
301    1   0    0        1      1       0
302    0   1    0        0      0       0

In [5]:
#I need to split my dataset into training and test dataset
# x = features, y = labels. I am setting aside 80% for training set and 20% for test set.
x_train, x_test, y_train, y_test = train_test_split(features, labels, test_size=0.2)

In [23]:
#build the pipeline
pipe = Pipeline([
    ('scale', StandardScaler()), #The idea of standard scaler is to transform your data such that its
                                #distribution wil have a mean = 0 and SD = 1
    ('Dct', DecisionTreeClassifier(criterion='gini')),
])

pipe.fit(x_train, y_train)

Pipeline(steps=[('scale', StandardScaler()), ('Dct', DecisionTreeClassifier())])

In [24]:
#Evaluate the model's prediction
y_pred = pipe.predict(x_test)
print(y_pred)
print(type(y_pred))
y_expect = y_test.to_numpy()
print(y_expect)
print(type(y_expect))
print(len(y_expect))

[0 1 1 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 1 1 0 1 1 0 1 0 1 1 1 0
 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 0 0 0 1 0 0 0 0 0]
<class 'numpy.ndarray'>
[0 1 1 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 0
 1 1 0 1 0 0 0 0 1 0 1 1 1 0 1 1 1 0 0 1 0 0 0 1]
<class 'numpy.ndarray'>
61

In [25]:
print(metrics.classification_report(y_expect, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.75      0.79        32
           1       0.75      0.83      0.79        29

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61

In [26]:
print(confusion_matrix(y_test, y_pred))

[[24  8]
 [ 5 24]]

In [28]:
heart.sex.head()

0    1
1    1
2    0
3    1
4    0
Name: sex, dtype: int64

In [30]:
heart['sex'].head()

0    1
1    1
2    0
3    1
4    0
Name: sex, dtype: int64

In [31]:
heart.index

RangeIndex(start=0, stop=303, step=1)

In [34]:
heart.set_index('No')

KeyError: "None of ['No'] are in the columns"

In [72]:
observations = list(range(0, 303))

In [73]:
heart['Observations'] = observations

In [74]:
heart.head()

              sex  cp  fbs  restecg  exang  target  Observations
Observations
0               1   1    1        0      0       1             0
1               1   1    0        1      0       1             1
2               0   1    0        0      0       1             2
3               1   1    0        1      0       1             3
4               0   0    0        1      1       1             4

In [75]:
heart.set_index('Observations', inplace=True)

In [76]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sex      303 non-null    int64
 1   cp       303 non-null    int64
 2   fbs      303 non-null    int64
 3   restecg  303 non-null    int64
 4   exang    303 non-null    int64
 5   target   303 non-null    int64
dtypes: int64(6)
memory usage: 16.6 KB

In [77]:
heart.describe()

              sex          cp         fbs     restecg       exang      target
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.683168    0.528053    0.148515    0.514851    0.326733    0.544554
std      0.466011    0.500038    0.356198    0.500606    0.469794    0.498835
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      1.000000    1.000000    0.000000    1.000000    0.000000    1.000000
75%      1.000000    1.000000    0.000000    1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

In [78]:
heart.columns

Index(['sex', 'cp', 'fbs', 'restecg', 'exang', 'target'], dtype='object')

In [79]:
heart.head()

              sex  cp  fbs  restecg  exang  target
Observations
0               1   1    1        0      0       1
1               1   1    0        1      0       1
2               0   1    0        0      0       1
3               1   1    0        1      0       1
4               0   0    0        1      1       1